<template name="photos">
  {{#contentFor "headerTitle"}}
   <h1 class="title">Photos</h1>
{{/contentFor}}
{{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
    <button class="button button-icon icon ion-camera pull-right photo-link"></button>
{{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
    <div class="list padding">
    <div class="item item-divider homestead">
    {{_ "Photos"}} <span class="badge badge-dark">{{countPhotos}}</span>
  </div>
  {{#each photos}}
    {{> photoImage}}
  {{/each}}
      </div>
        {{#if isLimit}}
   <button class="button  button-block button-dark give-me-more">
    {{_ "Plus"}}...
  </button>
  {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="photoImage">

      <a href="{{ pathFor 'photoDetail' }}" class="item item-thumbnail-left">
        {{#each image}}
        <img src="{{this.url store='photosThumb' uploading='/default.png' storing='/default.png'}}"  />
        {{/each}}
    <h2>{{username}}</h2>
    <p><i class="icon ion-clock"></i> {{livestamp createdAt}}</p>
      </a>

</template>
