<template name="listProjects">
  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "projects"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}

  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{#if currentUser}}
  <a href="{{ pathFor 'projectsAdd'}}" class="button button-clear">{{> ionIcon icon="ios-plus-empty"}}</a>
  {{/if}}
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}

  <div class="padding">
    <div class="list">
      <div class="item item-divider">
        <i class="ion-android-calendar"></i> {{_ "projects"}} <span class="badge badge-dark">{{citoyen.countProjects}}</span>
      </div>
      {{#transition in="zoomIn" out="bounceOut"}}
      {{#each citoyen.projects}}
      <a class="item animated out" href="{{pathFor 'newsList' _id=this._id._str scope="projects"}}">
        <h2>{{name}}</h2>
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i> {{countContributors}}</span>
        <p>
          {{#if isStart}}
          <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
          <i class="icon ion-android-alarm-clock"></i> {{_ "end"}} : {{livestamp endDate}} <br>
          <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}
          {{else}}
          <i class="icon ion-android-alarm-clock"></i> {{_ "start"}} : {{livestamp startDate}} <br>
          <i class="icon ion-android-time"></i> {{_ "duration"}} : {{diffInText startDate endDate}}<br>
          {{/if}}
          <i class="icon ion-ios-location"></i> {{_ "distance"}} : {{distance geo}}
        </p>
        {{#if currentUser}}
        {{#if isCreator}}
        <a href="{{ pathFor 'projectsEdit' _id=_id._str}}" class="button button-clear">{{> ionIcon icon="compose"}}</a>
        {{/if}}
        {{/if}}
      </a>
      {{/each}}
      {{/transition}}
    </div>
  </div>

  {{/ionContent}}
  {{/ionView}}
</template>

<template name="projectsAdd">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "Create a projects"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "create a projects"}}
    </div>
    {{#autoForm id="addProject" schema=Schemas.ProjectsRest type="method" meteormethod="insertProject" template="ionic" class="padding"}}
    {{> projectsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "create"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>


<template name="projectsEdit">
  {{#contentFor "headerButtonLeft"}}
  {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "projects"}}</h1>
  {{/contentFor}}

  {{#ionView}}
  {{#ionContent}}
  <div class="list">
    <div class="item item-divider">
      {{_ "edit a projects"}}
    </div>
    {{#autoForm id="editProject" schema=Schemas.ProjectsRest type="method-update" meteormethod="updateProject" doc=project template="ionic" class="padding"}}
    {{> projectsFields}}
    <div class="item">
      <div class="button-bar">
        <button type="submit" class="button button-dark">{{_ "edit"}}</button>
      </div>
    </div>
    {{/autoForm}}
  </div>
  {{/ionContent}}
  {{/ionView}}
</template>


<template name="projectsFields">
  {{> afQuickField name='projectName' label=_name autocomplete="off"}}
  {{> afQuickField name='projectStartDate' label=_startDate}}
  {{> afQuickField name='projectEndDate' label=_endDate}}
  {{> afQuickField name='description' label=_description autocomplete="off"}}
  {{> afQuickField name='tagsProject' label=_tags autocomplete="off"}}
  {{> afQuickField name='projectCountry' label=_addressCountry autocomplete="off"}}
  {{#if currentFieldValue "projectCountry"}}
  {{> afQuickField name='postalCode' label=_postalCode autocomplete="off"}}
  {{#if currentFieldValue "postalCode"}}
  {{#if optionsInsee}}
  {{> afQuickField name='city' label=_codeInsee options=optionsInsee}}
  {{else}}
  <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i> {{_ "Error not postal code match"}}</div>
  {{/if}}
  {{/if}}
  {{> afQuickField name='streetAddress' label=_streetAddress autocomplete="off"}}
  {{#if latlng}}
  {{> map}}
  {{/if}}
  {{> afQuickField name='geoPosLatitude' type="hidden" label=_latitude value=latitude}}
  {{> afQuickField name='geoPosLongitude' type="hidden" label=_longitude value=longitude}}
  {{/if}}
</template>

<template name="projectsFieldsOld">
  {{> afQuickField name='name' label=_name}}
  {{> afQuickField name='description' label=_description}}
  {{> afQuickField name='tags' label=_tags}}
  {{> afQuickField name='url' label=_url}}
  {{> afQuickField name='licence' label=_licence}}
  {{> afQuickField name='properties' label=_properties}}
  {{> afQuickField name='type' label=_type}}
  {{> afQuickField name='address' label=_address}}
  {{> afQuickField name='startDate' label=_startDate}}
  {{> afQuickField name='endDate' label=_endDate}}
</template>
