<template name="photoDetail">
{{#contentFor "headerButtonLeft"}}
{{>ionNavBackButton}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}

{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">{{_ "Photos"}}</h1>
{{/contentFor}}
   {{#ionView}}
    {{#ionContent}}
  {{#each photo}}
    <div class="list card">
    {{> infoPhoto}}
    {{> photoImagedetail}}
    {{> menuAuthor}}
    </div>
  {{/each}}
      {{/ionContent}}
  {{/ionView}}
</template>

<template name="photoImagedetail">
      <a href="" class="item item-body">
        {{#each image}}
        <img src="{{this.url store='photosLarge' uploading='/default.png' storing='/default.png'}}" class="full-image"  />
        {{/each}}
      </a>
</template>

<template name="menuAuthor">
    <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item like-photo" id="{{_id}}" href="#">
      <i class="icon ion-thumbsup"></i>
      {{likesCount}} {{_ "J'aime"}}
    </a>
    {{#if isAuthor}}
    <a class="tab-item delete-photo" id="{{_id}}" href="#">
      <i class="icon ion-trash-a"></i>
      {{_ "Supprimer"}}
    </a>
      {{/if}}
  </div>
  </template>



<template name="infoPhoto">
    <div class="item">
    {{> avatar userId=owner size='small' shape='rounded' class=''}}
    <h2><a class="icon-left ion-person" href="">{{username}}</a> </h2>
    <p><i class="icon ion-clock"></i> {{livestamp createdAt}}</p>
  </div>
  </template>
